div {
background-color: pink;
margin-left: 35px;
text-align: center;
}
p.big{
  font-size: 2em;
text-align: center;
}
p.little{
 font-size: 1em;
 text-align: center;
}
h1 {
text-align: center;
color: teal;
}
.div1{
height: 50px;
width: 50px;
float: left;
background-color: teal;
}
.div2{
height: 50px;
width: 50px;
float: left;
background-color: pink;
}
.div3{
height: 50px;
width: 50px;
float: left;
background-color: teal;
}
.div4{
height: 50px;
width: 50px;
float: left;
background-color: pink;
}
.div5{
height: 50px;
width: 50px;
float: left;
background-color: teal;
}
.pictureborder{
width: 300px;
}
nav {
background-color: grey;
padding: 10px 30% 10px 30%;
display: flex;
justify-content: space-between;
}
.about-box {
  display: flex;
  border: 2px solid black;
  width: 80%;
  margin-left: 10%;
}
div.left-side{
  width: 50%;
  border: 2px solid black;
}
div.right-side{
  width: 50%;
  border: 2px solid black;
}
